.user {
  display: flex;
  gap: 10px;
  align-items: center;
}
.img {
  border-radius: 50%;
  object-fit: cover;
}
.head {
  font-weight: 300;

  font-size: 20px;
}

.table {
  width: 100%;
}
.table td {
  padding: 8px;
}

.view {
  background-color: teal;
}
.delete {
  background-color: red;
}
.button {
  padding: 10px;

  color: var(--text);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.link {
  display: flex;
  gap: 3px;
}
